ul.tabs {
    height: 22px;
    overflow: hidden;
    border-bottom: 1px solid #aaa;
    background: -webkit-linear-gradient(#eee, #ddd);
    white-space: nowrap;
    position: absolute;
    left: 0;
    right: 32px;
    letter-spacing: -4px;
}

ul.tabs li {
    letter-spacing: 0;
    border-right: 1px solid #aaa;
    display: inline-block;
    position: relative;
    background: -webkit-linear-gradient(#eee, #ddd);
    text-shadow: 0 1px 0 #eee;
    border-bottom: 1px solid #aaa;
    height: 22px;
    width: 150px;
    text-align: center;
    font-size: 10pt;
    line-height: 1.6;
    z-index: 1;
}
/* ul.tabs li:not(.left):not(.right):after {
    content: "\00d7";
    width: 14px;
    height: 14px;
    float: right;
    background: #777;
    border-radius: 100%;
    line-height: 0.8;
    color: white;
    text-align: center;
    font-size: 12pt;
    margin-top: 3px;
    margin-right: 2px;
    font-weight: bold;
}*/
* {
    font-family: arial;
    -webkit-user-select: none;
}
ul.tabs .left, ul.tabs .right {
    position: fixed;
    width: 16px;
    border-left: 1px solid #aaa;
    border-right: 0px solid #aaa;
}
ul.tabs .right {
    right: 17px;
}
ul.tabs .left {
    right: 0;
}
ul.tabs .disabled {
    color: #aaa;
    text-shadow: 0 1px 0 #eee;
}
ul.tabs .active {
    background: -webkit-linear-gradient(#ddd, #aaa);
}

